.switch__container {
  display: flex;
  position: relative;
}

.switch__btn {
  border-radius: 25px;
  border: 2px solid rgba(126, 126, 126, 1);
  width: 56px;
  height: 30px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin: none;
  padding: none;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  right: 0px;
}

.switch__slider-C {
  left: 0;
}

.switch__active {
  color: white;
}

.switch__temp-F {
  position: absolute;
  right: 10px;
  top: -6.5px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

.switch__temp-C {
  position: absolute;
  top: -6.5px;
  left: 10px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

.false {
  color: rgba(0, 0, 0, 0.5);
}
